body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}


address {
    font-style: normal;
}


button {
    font-family: inherit;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header-container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto; 
    align-items: center;
        display: flex;
        justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header-container {
        max-width: 768px;  
        align-items: center;
            display: flex;
    }
}

@media screen and (max-width: 1158px) {
        .header-container {
            max-width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
            align-items: center;
            display: flex;
        }
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-navigation-list,
.contacts {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo-color {
    color: #2e2f42;
}

.header-navigation-link {
    padding: 16px 0 16px;
    display: block;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent; 
}

.burger-icon {
    display: block;
    fill:#2f2f37;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .burger-btn {
            display: none;
        }
            .header-navigation-list {
                    display: flex;
                    align-items: center;
                    gap: 40px;
            }
                .contacts {
                        display: block;
                }
                        .header-navigation {
                            display: flex;
                            align-items: center;
                        }
                                .header-navigation-link {
                                    padding: 24px 0;
                                    margin-right: 120px;
                                    display: block;
                                }
}